[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "robust.prioritizr"]
	path = robust.prioritizr
	url = https://github.com/frankiecho/robust.prioritizr
